/* 
    General classes
    ==========================================================================
*/

.line {
  border: solid black 1px;
  height: 0px;
}

.outer-padding {
  padding: 1.5rem 2.5rem;
}

.title-strip {
  background-color: var(--secondary-color-darker);
  min-height: 8rem;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
}

.chevron {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  height: 40%;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 40%;
  transition: transform 0.5s;
}

.chevron.chevron-bottom {
  top: 0;
  transform: rotate(135deg);
}

.chevron-container {
  border-radius: 50% !important;
  width: 20px;
  height: 20px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  color: var(--primary-color);
  max-width: var(--max-characters);
}

.section-title > .line {
  width: 50%;
  transform: translateX(50%);
}

/* 
    Fonts
    ==========================================================================
*/
@media (max-width: 900px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 900px) {
  :root {
    font-size: 20px;
  }
}

html {
  font-size: 20px;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.2;
}

h3 {
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 1.2;
}

p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
}

/* 
    Buttons
    ==========================================================================
*/
.btn.btn-primary {
  color: white;
}

.btn.btn-primary,
.btn.btn-outline-primary {
  border-color: var(--primary-color);
  padding: 0.5rem 1.3rem;
  border-radius: 20px;
}

.btn.btn-primary {
  background-color: var(--primary-color);
  background-blend-mode: lighten;
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.btn.btn-outline-primary {
  color: var(--primary-color);
}

.btn.btn-primary:hover {
  background-blend-mode: darken;
}

.btn.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: white;
}

/* 
    Portfolio thumbnail
    ==========================================================================
*/

.portfolio-list .project-container {
  overflow: hidden;
  text-decoration: none;
}

.portfolio-list .post-title {
  width: 100%;
  background-color: var(--primary-color);
  opacity: 90%;
  height: 55px;
  color: white;
  z-index: 1;
}

.portfolio-list .post-description {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  opacity: 90%;
  color: white;
  padding: 30px;
  transition: top 0.5s ease-out;
}

.portfolio-list a:hover > .post-description {
  top: 0;
}
