#masthead {
  position: fixed;
  right: 0;
  left: 0;
  margin: 0px 34px;
  height: var(--header-height, 86px);
  background-color: transparent;
  z-index: 10;
}

#masthead nav > ul.menu {
  justify-content: end;
}

#masthead .custom-logo {
  height: 58px;
  width: auto;
}

#masthead nav a {
  color: var(--primary-color);
  margin-left: 1rem;
  font-size: 0.9rem;
}

#masthead nav a:visited {
  color: var(--primary-color);
}
