/* 
  Hero section
	==========================================================================
*/

#home-page > #home-hero {
  background-color: #ebe4df;
  height: 100vh;
}

#home-page > #home-hero .text-description {
  width: 510px;
  height: 430px;
}

#home-page > #home-hero .text-description > .catch > .line {
  width: 72.5px;
  margin-right: 9.5px;
}

#home-page > #home-hero img.size-full {
  height: fit-content;
}

#home-page > #home-hero .buttons {
  display: flex;
  margin-top: 55px;
}

#home-page > #home-hero .buttons > .btn-primary {
  margin-right: 47px;
}

/* 
  Projects section
	==========================================================================
*/

#home-page > #home-projects {
  padding: 28px 48px;
}

#home-page > #home-projects .title {
  color: var(--primary-color);
}

#home-page > #home-projects .title > .line {
  width: 50%;
  transform: translateX(50%);
}

#home-page > #home-projects div.description {
  width: 710px;
}

/* 
  Reviews section
	==========================================================================
*/

#home-page > #home-reviews {
  background-color: var(--secondary-color);
  padding: 28px 48px;
}

#home-page > #home-reviews > .title > .line {
  width: 80.5px;
  border-width: 3px;
}

#home-page > #home-reviews .author-image {
  flex-grow: 0;
  flex-shrink: 0;
}
