/* Portfolio list on the home page
--------------------------------------------- */
.portfolio_thumbnail {
  max-width: 533px;
  overflow: hidden;
}

.portfolio_thumbnail > a > img {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.portfolio_thumbnail > a > img:hover {
  transform: scale(1.1);
}

/* Masonry
--------------------------------------------- */
.grid-sizer,
.grid-item {
  width: 22%;
}

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.gutter-sizer {
  width: 4%;
}
